:root {
    /*backagrounds colors : nommée en chiffre -> pour eviter le changement de couleur par la suite*/
    --base-color: snow;
    --main-color:#47876c;
    --second-color:#beb887;
    --third-color : #fdbfc9;

    /* fonts sizes */
    --font-size-1: calc(24px + (36 - 24)*(100vw - 320px)/(1440 - 320));
    --font-size-2: calc(18px + (30 - 18)*(100vw - 320px)/(1440 - 320));
    --font-size-3: calc(14px + (24 - 14)*(100vw - 320px)/(1440 - 320));
    --font-size-4: calc(12px + (20 - 12)*(100vw - 320px)/(1440 - 320));
    --font-size-5: calc(12px + (14 - 12)*(100vw - 320px)/(1440 - 320));
    --main-margin:16%;
}

/************Font used***********/
/* pour les titres */
@font-face {
    font-family: "Chivo";
    src: url("./../polices/Chivo-Regular.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Chivo";
    src: url("./../polices/Chivo-Bold.ttf") format("truetype");
    font-weight: bold;
}

/*Pour les paragraphes*/
@font-face {
    font-family: "CrimsonPro";
    src: url("./../polices/CrimsonPro-Bold.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "CrimsonPro";
    src: url("./../polices/CrimsonPro-Regular.ttf") format("truetype");
    font-weight: normal;
}

/*Pour les citations*/
@font-face {
    font-family: "Estonia";
    src: url("/polices/Estonia-Regular.ttf") format("truetype");
    font-weight: normal;
}


/* **
* Certaines codes frequantement utilisé
* */

/************Text-align***********/

/*text-align*/
.center{
    text-align: center;
}

.right{
    text-align: right;
}

.left{
    text-align: left;
}

.justify{
    text-align: justify;
}

/************Font***********/

h1{
    font-size: var(--font-size-1);
}

h2{
    font-size: var(--font-size-2);
}

h3{
    font-size: var(--font-size-3);
}

h4{
    font-size: var(--font-size-4);
}

p{
    font-size: var(--font-size-4);
}


/************Width***********/

.w-25{
    width : 25%
}
.w-30{
    width: 30%;
}
.w-50{
    width: 50%;
}
.w-70{
    width: 70%;
}
.w-100{
    width: 100%;
}




/************Flex***********/
.flex{
    display: flex;
}

.flex-nowrap{
    flex-wrap: nowrap;
}
.flex-wrap{
    flex-wrap: wrap;
}

.justice-contant-center{
    justify-content: center;
}

/************Changer certain style par defaut***********/

a:link, a:active, a:visited{
    color: black;
    text-decoration: none;
}
a:hover{
    color: var(--main-color);
}

ul,li{
    list-style: none;
}



/************Body***********/


html, body{
    /* background-color: var(--base-color); */
    color: black;
    font-family: "CrimsonPro", serif;
    font-size: 16px;
    height: 100%;
    width: 100%;
    margin: 0;
    padding : 0;
}

body{
    background:  linear-gradient(90deg, #edc0bf 0,#c4caef 58%);
}


/***========================= Header =============================*****/
header{
    margin-bottom: -50px;
    line-height: 50px;
    height: 50px;
    position: sticky;
    top:0;
    z-index: 1000;
}

/**
*   Navbar ********************************
**/

/* navbar de PC*/
nav{
    height: 50px;
    width: 100%;
    display: flex;
    background-color: var(--third-color);
    justify-content :space-around;
    box-shadow: 3px 3px 30px #999;
    position: fixed;
    top:0;
    font-size: var(--font-size-3);
    white-space: nowrap;
}

/* cacher le navbar de smartphone */
.nav-phone,#navPhoneContenu{
    display: none;
}

/* logo du site*/
.nav-logo{
    padding-left: 4%;
}

.nav-logo img{
    max-height: 40px;
    max-width: max-content;
}

/* bloc de menu de navbar */
.nav-content-border{
    width: 80%;
    display: flex;
    align-items: center;
}

/* menu de navbar */
.nav-link {
    --c: rgb(99, 165, 138) ;
    font-size: 16px;
    border-radius: 0.5em;
    width: 12em;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    position: relative;
    overflow: hidden;
    margin: 0.5em;
}

/* effet dynamique lors qu'on flotter sur le menu */
.nav-link span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--second-color);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

.nav-link:hover span {
    transform: translateY(0) scale(2);
}

.nav-link span:nth-child(1) {
    --n: 1;
}

.nav-link span:nth-child(2) {
    --n: 2;
}

.nav-link span:nth-child(3) {
    --n: 3;
}

.nav-link span:nth-child(4) {
    --n: 4;
}

.nav-link span:nth-child(5) {
    --n: 5;
}


/***========================= Main =============================*****/

/**
*   CSS pour plusieur pages  ********************************
**/

main{
    margin: -50px 0 -100px;
    padding-top: 50px;
    min-height: 100%;
    padding-bottom: 100px;
}

/* espace principaux pour les pages */
.main{
    margin: auto var(--main-margin);
    background-color: var(--base-color);    
}


/* paragraphe de descriptions (pages : accueil + à propos)*/
.description{
    margin : 3% 0% 2%;
    text-align: justify;
}

/* style du titre de pages (pages : catégories, activités, événement, contact)*/
.titre-pages{
    font-family: "Chivo";
    font-weight: normal;
    text-align: center;
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
}

/* background avec l'image (pages : !!! )*/
#font-image{
    background-image: url("./../images/deco/fond.png");
    background-repeat:repeat;
    background-attachment:local ;
    background-size:cover;
}

/* background flou  */
#font-image main{
    background: rgba(255, 255, 255, .7);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}



/**
*   Page ACCUEIL ********************************
**/

/* background avec l'image de bibliotheque */
.accueil-presentation-bibliotheque{
    background-image: url("./../images/deco/bibliotheque.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    width: 100%;
    height: 400px;
}

/* Text de bienvenue */
.accueil-presentation-bibliotheque section{
    text-align: center;
    margin: 0;
    padding: 10% 5%;
}

.accueil-presentation-bibliotheque h1,.accueil-presentation-bibliotheque p{
    margin: 5% auto;
    text-align: center;
    background-color: var(--base-color);
    padding: 0 5%;
    color: var(--main-color);
}

/* le bloc de livres representants */
.accueil-conteneur-livre{
    display: flex;
    flex-wrap: wrap;
    margin : 2% var(--main-margin);
}


/* couverture de livres (pages : accueil + activités) */
.accueil-livre-couvert{
    max-width: 120px;
}


/* citations interessants */
.accueil-conteneur-citation{
    padding: 5%;
    border-bottom: 2px solid var(--main-color);
    border-top: 2px solid var(--main-color);
    background-image: url("./../images/deco/feuilles.png");
    background-repeat:no-repeat;
    background-attachment:center;
    background-size:cover;
    text-align: center;
    background-color: var(--base-color);
}

.accueil-conteneur-citation:nth-child(1){
    background-position: right;
}
.accueil-conteneur-citation:nth-child(2){
    background-position: left;
}

.accueil-conteneur-citation p{
    font-family: "Estonia",serif;
    font-style: italic;
    font-size: var(--font-size-3);
    text-align: center;
    color: var(--main-color);
}





/**
*   Page CATEGORIES ********************************
**/

/* slides des documents representants */
#categories-bloc-slides{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

/* images de slide */
#categories-bloc-slides .slide-img{
    margin: 2% 10px;
    display: none;
}

#categories-bloc-slides .slide-img img{
    height: 200px;
    width: 100%;
}

/* bouttons de deplacement vers la gauche et la droite*/
#leftarrow, #rightarrow{
    display: inline-block;
}

#leftarrow button, #rightarrow button{
    background-color: var(--main-color);
    color: #fff;
    border: none;
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    border-radius: 50%;
}

/* symbole de bouttons de deplacement */
#leftarrow button i, #rightarrow button i{
    font-size: 1rem;
}

/* effet hover de bouttons de deplacement */
#leftarrow button:hover, #rightarrow button:hover{
    background-color: var(--third-color);
}


/* Les documents de chaque categorie*/
.categories-conteneur-oeuvres{
    margin: 5% auto;
}

.categorie-oeuvres{
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    flex-wrap: wrap;
}


.categories-conteneur-oeuvres .col{
    flex-direction: column;
    align-items: center;
    margin: 2% 0;
}


/* image des oeuvres */
.categories-conteneur-oeuvres .col img{
    height: 250px;
    width: 150px;
}


/* le titre et l'etat de document */
.categorie-oeuvres h3,.categorie-oeuvres h4{
    margin: 1%;
}


/* le couleur de l'état d'oeuvre */
.categories-conteneur-oeuvres .col .neuf{
    color: var(--main-color)
}

.categories-conteneur-oeuvres .col .occasion{
    color: var(--second-color)
}


.categorie-oeuvres article p{
    padding:2%;
    font-size: var(--font-size-5);
}






/**
*   Page ACTIVITES ********************************
**/

/* la ligne verticale du timeline */
.activites-timeline-container {
    max-width: 92%;
    border-left: 4px solid var(--second-color);
    padding-left: 25px;
}

/* la taille de la police de la description de l'evenement */
.activites-timeline-container p{
    font-size: var(--font-size-5);
}

/* le titre de l'evenement */
.activites-timeline-container h2{
    font-family: "Chivo", serif;
    margin: 0;
    border-bottom: 1px solid var(--main-color);
}

/* le point rond de l'evenement */
.activites-timeline-container .event{
    box-shadow : 0px 3px 6px -2px rgba(0, 0, 0, 0.2);
    padding: 4%;
    margin: 10% 0;
    line-height: 2;
    cursor: pointer;
    position: relative;
}

/* effet hover sur le point rond */
.activites-timeline-container .event:hover{
    box-shadow: 1px 6px 16px -1px rgba(0, 0, 0, 0.1);
}

/* l'esthetique du point rond */
.activites-timeline-container .event::before{
    content: "";
    width: 14px;
    height: 14px;
    border : 2px solid var(--second-color);
    position: absolute;
    left: -36px;
    border-radius: 50%;
    transform: translateY(-50%);
    background: var(--base-color);
    top: 10%;
}

.activites-timeline-container .event:hover::before{
    background: var(--main-color);
}

/* Mise en page du contenu : evenement + image */
.activites-timeline-container .timeline-content{
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

.activites-timeline-container .timeline-content p{
    text-align: justify;
}

.activites-timeline-container .event .event-date{
    position: absolute;
    left: -25%;
    top: 10%;
    transform: translateY(-50%);
    font-weight: bold;
    color: var(--main-color);
}

.activites-timeline-container .image-active img{
    text-align: center;
    width: 100%;
    height: auto;
    padding: 2%;
}



/**
*   Page EVENEMENTS ********************************
**/

.evenement-conteneur{
    width: 100%;
    text-align: center;
}

/* bloc qui contient les données de l'évenement */
.evenement-conteneur section{
    padding: 2%;
}

/* titre de l'événement */
.evenement-conteneur section h3{
    color: var(--main-color);
}

/* video des événement*/
.evenement-conteneur video{
    max-width:550px;
    margin: 2% auto;
    width: 90%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}




/**
*   Page CONTACT ********************************
**/

/* Formulaire de contact*/
.contact form {
    margin-top: 5%;
}

.contact{
    margin: 5% 6%;
    background-color:var(--main-color);
    padding: 25px 30px;
    border-radius: 10px;
}

/* Mise en page des champs du formulaire */
.contact .input-box{
    margin: 1% 0;
}

.contact .input-box input{
    height: 30px;
    width: calc(100% - 30px);
    outline: none;
    border-radius: 5px;
    border: 2px solid var(--third-color);
    margin: auto;
    font-size: 16px;
    font-family: 'CrimsonPro';
}


/* changer la couleur de border quand on fait un focus sur un input */
.input-box input:focus,
.input-box textarea:focus,
.input-box input:valid,
.input-box textarea:valid{
    border: solid;
    border-color: var(--second-color);
}

/* Layout de le champs permettant d'ecrire un message */
.contact textarea {
    border-radius: 5px;
    width: calc(100% - 26px);
    outline: none;
    box-sizing: border-box;
    border: 2px solid var(--third-color);
    resize: none;
    overflow-y: auto;
}

/* Les bouttons du formulaire */
.contact form .button{
    height: 30px;
    margin: 30px 0;
}

.contact form .button input{
    display: block;
    margin: auto 2%;
    height: 100%;
    outline: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    background: var(--second-color);
    color: #fff;
    border: none;
    padding: 1% 4%;
    line-height: 18px;
    box-shadow: 3px 3px 30px #999;
}

.contact form .button input:hover{
    background: var(--third-color);
    color: black;
    box-shadow: 3px 5px 30px #999;
}

/* Tableau : Les messages obtenus */
.message-envoye table{
    width : 100%;
}

.message-envoye td{ 
    padding: 1%;
    border-bottom:2px solid var(--third-color);
}

.message-envoye td.colorVide{
    padding: 1%;
    border-bottom:2px solid var(--main-color);
}

.message-envoye caption, .horaire caption{
    font-size: var(--font-size-1);
    font-weight: bold;
}

/* Tableau : Heures d'ouverture */
.horaire{
    margin: 15% auto 2%;
}

.horaire table{
    margin : 5% auto 2%;
    border: 2px solid var(--main-color);
    max-width: 550px;
    width: 90%;
    border-spacing: 0;
    border-width: 1;
}

.horaire caption{
    margin: 5%;
    font-size: var(--font-size-2);
}

.horaire th,.horaire td{
    border : 1px solid var(--main-color);
    padding: 1% 4%;
    width: calc(100%/3);
}






/**
*   Page A PROPOS ********************************
**/

/* titre du page à propos */
#title-page-propos{
    font-size: var(--font-size-2);
    color: var(--main-color);
}

/* description du projet accueilant les utilisateurs */
.a-propos-content-bienvenue{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.a-propos-content-bienvenue .photo img{
    max-width: 160px;
} 

.a-propos-content-bienvenue .texte p{
   padding: 8%;
}

/* alignement des deux blocs de membres */
.a-propos{
    margin: 5% auto;
    max-width: 550px;
    padding: 6% 4%;
}

/* contour de chaque bloc */
.a-propos .description{
    box-shadow: -1px 5px 15px var(--main-color),-1px 5px 15px var(--main-color);
    padding: 15px;
    margin-top: 5%;
}

/* marge du bloc de toute la description de chaque membre*/
.a-propos .description .membre{
    margin-left: 20px;
}

/* mise en page de la liste des taches effectuees par les membres*/
.a-propos .tache-effectuee{
    padding-inline-start: 2%;
}

.a-propos .tache-effectuee li {
    font-size: var(--font-size-3);
    text-transform: uppercase;
    list-style: none;
}

.a-propos .tache-effectuee li:not(:last-child){
    margin-bottom: 15px;
}

.a-propos .tache-effectuee li:before{
    content:"\25C8";
    color: var(--main-color);
    margin-right: 20px;
}




/**
*   Page SOURCES ********************************
**/
/* sources */
.sources-type .source{
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}
.sources-type .source>div{
    text-align: center;
}

/* image de source */
.source img{
    width: 90%;
    max-width: 200px;
    margin: 0;
}


/* lien de source */
.source p{
    width: 90%;
    word-break: break-all;
    margin: 0;
}

/***====================== Footer ================================*****/

footer{
    font-size: var(--font-size-5);
    background-color: var(--third-color);
    width: 100%;
} 

.container-footer{
    max-width: 100%;
    margin : auto var(--main-margin);
    padding: 2% 0;
}


/* titre des contenus du footer*/
footer h3{
    margin: 1% auto;
    padding: 1% auto;
}


/* contenu du footer */
.footer-bloc{
    width: 21%;
    margin: 5px 2%;
}

.footer-bloc p{
    font-size: var(--font-size-5);
}


/* liste des activites et des horaires */
.footer-liste-activites,
.footer-liste-horaires{
    list-style-type: none;
    margin: 0;
    padding: 0;   
}

.footer-liste-horaires li{
    white-space: nowrap;
}

.footer-liste-activites li{
    padding: 2px 0;
}


/* reseau sociaux */
.footer-bloc .reseau-sociaux{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.footer-bloc .reseau-sociaux i{
    margin: 20px 2%;
    padding: 5%;
    font-size: 16px;
}




/***====================== Media query ================================*****/

/* pour le taille d'écran entre 1200px et 560px */
@media (min-width: 560px) and (max-width: 1200px){

    /***========================= Main =============================*****/


    /* changer le margin du main */
    :root {
        --main-margin:6%; 
    }


    /**
    *   Page ACTIVITES ********************************
    **/

    /* changer l'emplacement de date des activités */
    .activites-timeline-container .event .event-date{
        left: 5%;
        top: 10%;
        transform: translateY(-100%);
        font-weight: bold;
    }
    
}



/* pour le taille d'écran inferieur à 900px */
@media (max-width : 900px){

    /***========================= Header =============================*****/

    /* changer en navbar pour smartphone*/
    nav{
        min-height: 50px;
        height: auto;
        display:block;
        font-size: 12px;
        line-height: 25px;
    }

    /*diminuer la taille du logo du site*/
    .nav-logo img{
        padding-top: 7px;
        max-height: 25px;
        max-width: max-content;
    }
    
    /* cacher le nav de PC  */
    .nav-content-border{
        display: none;
    }

    /* afficher le nav de smartphone */
    .nav-phone, #navPhoneContenu{
        display: block;
    }

    /* style de nav de smartphone */
    #navPhone{
        width: 2rem;
        height: 2rem;
        top: 1%;
        right: 4%;
        position: fixed;
        background-color: var(--main-color);
        border: 0;
        border-radius: 5px;
        color: var(--base-color);
    }

    /* style du button de nav de smartphone */
    #navPhone button{
        width: 3rem;
    }


    /***========================= Main =============================*****/

        
    /**
    *   Page ACCUEIL ********************************
    **/

    /* heuteur du background avec l'image de bibliotheque */
    .accueil-presentation-bibliotheque{
        height: 300px;
    }

    /**
    *   Page CATEGORIE ********************************
    **/  

    /* changer l'hauteur des images de slides  */
    #categories-bloc-slides .slide-img img{
        height: 150px;
    }
}



/* pour le taille d'écran inferieur à 800px */
@media (max-width : 800px){
    
    /***========================= Main =============================*****/

    /**
    *   Page CATEGORIES ********************************
    **/

    /* changer le largeur des images de l'oeuvre*/
    .w-25{
        width: 50%;
    }
}



/* pour le taille d'écran inferieur à 500px */
@media (max-width : 500px){


   /***========================= Main =============================*****/

   /* changer la largeur */
   .w-70,.w-30,.w-50{
        width: 100%;
    }

    
    /**
    *   Page ACCUEIL ********************************
    **/

    /* heuteur du background avec l'image de bibliotheque */
    .accueil-presentation-bibliotheque{
        height: 200px;
    }



    /**
    *   Page CATEGORIES ********************************
    **/

    /* changer l'hauteur des images de slides  */
    #categories-bloc-slides .slide-img img{
        height: 120px;
    }



    /***========================= Footer =============================*****/

    /* changer la largeur du contenu de footer */
    .footer-bloc{
        width: 40%;
        margin: 5px 2%;
        text-align: left!important;
    }
}

/* pour le taille d'écran entre 300px et 560px */
@media (min-width : 300px) and (max-width:560px){

    
    /***========================= Main =============================*****/


    /* changer le margin du main */
    :root {
        --main-margin:2%;
    }

    
    /**
    *   Page ACTIVITES ********************************
    **/

    /* changer l'emplacement de date des activités */
    .activites-timeline-container .event .event-date{
        left: 8%;
        top: 10%;
        transform: translateY(-160%);
        font-weight: bold;
    }

}


/* pour le taille d'écran inferieur à 300px */
@media (max-width : 300px){

    /***========================= Main =============================*****/

    /**
    *   Page CATEGORIES ********************************
    **/


    /* changer la largeur des images de l'oeuvre*/
    .w-25{
        width: 100%;
    }
    

    /**
    *   Page ACTIVITES ********************************
    **/

    /* changer l'emplacement de date des activités */
    .activites-timeline-container .event .event-date{
        left: 15%;
        top: 10%;
        transform: translateY(-250%);
        font-weight: bold;
    }

    /***========================= Footer =============================*****/

    /* changer la largeur du contenu de footer */
    .footer-bloc:last-child{
        width: 70%;
    }

}

