:root {
    /*backagrounds colors : nommée en chiffre -> pour eviter le changement de couleur par la suite*/
    --base-bag-color :#e8e8e8;
    --main-bag-color:#63a58a;
    --second-bag-color:#beb887;
    --third-color : #fdbfc9;

    /* fonts sizes */
    --font-size-1: calc(24px + (36 - 24)*(100vw - 768px)/(2560 - 768));
}

/************Font used***********/
/* pour les titres */
@font-face {
    font-family: "Chivo";
    src: url("/polices/Chivo-Regular.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Chivo";
    src: url("/polices/Chivo-Bold.ttf") format("truetype");
    font-weight: bold;
}

/*Pour les paragraphes*/
@font-face {
    font-family: "CrimsonPro";
    src: url("/polices/CrimsonPro-Bold.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "CrimsonPro";
    src: url("/polices/CrimsonPro-Regular.ttf") format("truetype");
    font-weight: normal;
}

/*Pour les citations*/
@font-face {
    font-family: "Estonia";
    src: url("/polices/Estonia-Regular.ttf") format("truetype");
    font-weight: normal;
}

/************Code basique***********/

/*text-align*/
.center{
    text-align: center;
}

.right{
    text-align: right;
}

.left{
    text-align: left;
}


/************Couleur***********/
.bgBaseColor{
    background-color : var(--base-bag-color);
}

.bgMainColor{
    background-color : var(--main-bag-color);
}

.bgSecColor{
    background-color : var(--second-bag-color);
}

.bgThrColor{
    background-color : var(--third-bag-color);
}

/************Body***********/


html, body{
    background-color: var(--base-bag-color);
    color: black;
    font-family: "CrimsonPro", serif;
    font-size: 16px;
    height: 100%;
    width: 100%;
    margin: 0;
    padding : 0;
}

/* proprietaire par defaut */
a:link, a:active, a:visited{
    color: black;
    text-decoration: none;
}

/***========================= Header =============================*****/
header{
    margin-bottom: -60px;
    line-height: 60px;
    height: 60px;
}
/**
*   Navbar ********************************
**/

/* Navbar */
nav{
    height: 50px;
    width: 100%;
    display: flex;
    background-color: var(--third-color);
    justify-content :space-around;
    box-shadow: 3px 3px 30px #999;
}

/*logo de navbar*/
.nav-logo{
    width: 20%;
    padding: 0 6% 0 4%;
}

.nav-logo img{
    max-height: 40px;
    max-width: max-content;
}

/* menu de navbar */
.nav-content-border{
    width: 80%;
    display: flex;
    align-items: center;
}

.nav-link{
    margin: 0 2%;
    font-weight: bold;
}

/***========================= Main =============================*****/

main{
    margin : -60px 16% -100px;
    padding-top: 60px;
    min-height: 100%;
    padding-bottom: 100px;
}

/**
*   Page ACCUEIL ********************************
**/

/*à supprimer*/
.example{
    width: 100%;
    text-align: left;
    margin : 3% 0% 2%;
}


/**
*   Page CONTACT ********************************
**/

/* Formulaire */
.contactRegistration{
    margin : 5% 2%;
    background-color:var(--main-bag-color);
    color: #ffffff;
    padding: 10px 0px;
    border-radius: 15px;
}

.registration{
    text-align: center;
}

.details{
    margin-left: 10%;
    margin-top: 10%;
}

.sendTo {
    text-align: center;
}

textarea {
    font: 1em sans-serif;
    /* width: 300px; */
    box-sizing: border-box;
    border: 1px solid #999;
}

/* Tableau : Heures d'ouverture */
.horaire{
    margin: 2% auto;
}

table{
    margin : 50px auto 10px;
    border: 2px solid var(--fourth-color) ;
    text-align: center;
}

th,td{
    border : 1px solid var(--second-bag-color);
}

/***====================== Footer ================================*****/
footer{
    background-color: var(--third-color);
    margin-top: -100px;
    line-height: 100px;
    height: 100px;
}

/***====================== Media query ================================*****/


@media (min-width : 300px) and (max-width:560px){
    /**
    *   Navbar ********************************
    **/

    /*logo de navbar*/
    .nav-logo{
        width: 15%;
        padding: 0 3% 0 2%;
    }

    .nav-logo img{
        max-width: 70px;
    }

    /* menu de navbar */
    .nav-content-border{
        font-size: 14px;
    }
}
