* { 
    box-sizing: border-box; 
}

body{
    background-color: lightgray;
    color: black;
    font-family: "Trebuchet MS";
    margin: 1em 1%;
    padding: 10px;
   
}

.formDetails{
    border: 3px solid gray;
    background-color: gray;
}

button{
    margin-top: 25px;
}

input{
    border: none;
    border-bottom: 2px solid lightgrey;
    margin : 5px 2%;
}

.container{
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    margin: 15px 5px 15px 0;
} 

.infoRecuperer{
    margin-top: 50px;
    border: 3px solid gray;
    background-color: gray;
    width: 80vw;
    overflow: scroll;
    
}

.infoRecuperer table{
    table-layout:fixed;

}

table td {
    margin : auto 0;
    font-weight: 600;
    padding: 45px;
}

button{
    text-transform: uppercase;
    border: none;
    background-color:bisque;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 255, .2);
}
button:hover {
    background-color:darksalmon; /* Green */
    color: white;
  }
/* .formulaire h2{
    font-weight: bold;
    color: black;
    box-shadow: 5px 5px 5px rgba(255, 255,.2, 0.5);
    border: 2px thick coral;
    border-radius: 5px;
    text-align: center;
    background-color: whitesmoke;
    margin:5%;
}


.formulaire h2, .formulaire h3{
    border: 0.5px dashed transparent;
    background-color: white;
    color: black;
    border-radius: 5px;
    text-align: center;
    margin:5%;
} */


/*Page commande*/
/* .formulaire{
    margin: auto;
    background-color: grey;
    font: Georgia, serif;
   
}



input:invalid{
    border-bottom: 2px solid red;
}


