* { 
    box-sizing: border-box; 
}

body{
    background-color: lightgray;
    color: black;
    font-family: "Trebuchet MS";
    margin: 1em 1%;
    padding: 10px;
    font: Georgia, serif;
}

.formDetails{
    border: 3px solid gray;
    background-color: gray;
}

button{
    margin-top: 25px;
}

input{
    border: none;
    border-bottom: 2px solid lightgrey;
    margin : 5px 2%;
}

.container{
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    margin: 15px 5px 15px 0;
} 

.infoRecuperer{
    margin-top: 50px;
    border: 3px solid gray;
    background-color: gray;
}

button{
    text-transform: uppercase;
    border: none;
    background-color:bisque;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 255, .2);
}

button:hover {
    background-color:darksalmon; /* Green */
    color: white;
  }

  /* Tableau : Les messages obtenus */
.infoRecuperer table{
    font-weight: 600;
    width : 100%;
}

.infoRecuperer td{ 
    padding: 1%;
    border-bottom:2px solid var(--third-color);
}



